<template>
    <div class="container-fluid">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <hotel-filter
                        :filter="filter"
                        :spr="spr"
                        @resetFilter="resetFilter"
                />
            </div>
            <div class="col-md-6 col-md-offset-2">
                <Hotel
                        v-for="hotel in hotels"
                        :key="hotel.name"
                        :hotel="{...hotel}"
                />
            </div>
        </div>
    </div>
</template>


<script>
    import list from '@/data.js'
    import Hotel from '@/components/Hotels/Hotel'
    import HotelFilter from '@/components/Hotels/HotelFilter'

    export default {
        name: 'Home',
        components: {Hotel, HotelFilter},
        data: () => ({
            hotels: list,
            initialFilter: {
                country: '',
                stars: [],
                type: [],
                price: [1000, 3000],
                minRange: 1000,
                maxRange: 10000
            },
            filter: {},
            spr: {
                countries: [
                    {id: 'Греция', name: 'Греция'},
                    {id: 'Бали', name: 'Бали'},
                    {id: 'Турция', name: 'Турция'}
                ],

            }
        }),
        methods: {
            filterList() {
                this.hotels = list
                    .filter(el => this.filter.stars.includes(el.stars.toString()))
                    .filter(el => this.filter.type.includes(el.type))
                    .filter(el => this.filter.country === el.country.toString())
                    .filter(el => parseFloat(el.min_price) >= this.filter.price[0] && parseFloat(el.min_price) <= this.filter.price[1])
                return
            },
            resetFilter() {
                localStorage.removeItem('hotelFilter')
                this.filter = this.initialFilter
                this.filterList()
            }
        },
        mounted() {
            this.filter = localStorage.getItem('hotelFilter') !== null ? JSON.parse(localStorage.getItem('hotelFilter')) : this.initialFilter
            this.filterList()
        },
        watch: {
            'filter': {
                handler: function (after, before) {
                    this.filterList()
                    localStorage.setItem('hotelFilter', JSON.stringify(this.filter))
                },
                deep: true
            }
        }
    }
</script>
