<template>
    <div class="row mt-2 hotel-wrapper">
        <div class="col-md-3">
            <img src="123" alt=""
                 style="border:1px solid #ccc;min-width:200px;min-height: 200px;display:block">
        </div>
        <div class="col-md-6 ml-5" style="text-align: left;">
            <p class="hotel-address">{{hotel.address}}</p>
            <h3 class="hotel-name">{{hotel.name}}</h3>
            <b>
                <vue-star
                        v-model="hotel.stars"
                        :read-only="true"
                        :star-size="18"
                        :active-color="'#FFD037'"
                        :inline="true"
                        :text-class="'star-count'"
                />
            </b>
            <small class="star-count"> звезды</small>
            <span class="hotel-type ml-2">{{hotel.type}}</span>
            <p class="hotel-description mt-3">{{hotel.description}}</p>
        </div>
        <div class="col-md-2">
            <div v-if="hotel.reviews_amount>0" class="p-2 hotel-feedback">
                <h6 style="font-weight: bold;">
                    <i class="fa fa-star"></i>
                    {{hotel.rating}}
                    {{hotel.reviews_amount}} отзывов</h6>
                <p>{{hotel.description}}</p>
            </div>
            <div v-else class="p-4  hotel-feedback">
                Нет оценок.
            </div>
            <div>
                <small style="display: block">от {{hotel.min_price}}</small>
                <button style="color: #fff;height: 40px;" class="btn btn-danger flex-column">Забронировать</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Hotel',
        props: {
            hotel: Object
        }
    }
</script>

<style lang="css" scoped>
     .hotel-wrapper, .star-count, .hotel-type, .hotel-address {
        font-family: KievitPro;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
    }

    .star-count {
        align-items: center;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #515151;
        font-weight: bold;
    }

    .hotel-type {
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 3px;
    }

    .hotel-name {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        color: #212121;
        border-radius: 2px;
    }

    .hotel-description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
    }
    .hotel-address {
        color: #515151;
    }
    .hotel-feedback {
        background: #F9F7F2;
        min-width: 250px;
        text-align: left;
    }

    .el-collapse-item__header {
        font-size: 15px;
        line-height: 17px;
    }
    .fa-star {
        color:#FF4641;
    }

</style>