<template>
    <div class="row">
        <div class="col-md-6">
            <el-collapse value="1">
                <el-collapse-item title="Поиск по странам и городам" name="1">
                    <search-select
                            :list="spr.countries"
                            v-model="filter.country"
                            option-value="id"
                            option-text="name"
                            placeholder="Выберите страну"
                    />
                </el-collapse-item>
            </el-collapse>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <el-collapse value="1">
                        <el-collapse-item title="Звезды" name="1">
                            <el-checkbox-group v-model=filter.stars>
                                <el-checkbox class="col left floated" label="0">Нет звезд</el-checkbox>
                                <el-checkbox class="col" label="1">1 Звезда</el-checkbox>
                                <el-checkbox class="col" label="2">2 Звезды</el-checkbox>
                                <el-checkbox class="col" label="3">3 Звезды</el-checkbox>
                                <el-checkbox class="col" label="4">4 Звезды</el-checkbox>
                                <el-checkbox class="col" label="5">5 Звезд</el-checkbox>
                            </el-checkbox-group>
                        </el-collapse-item>
                    </el-collapse>
                </div>
                <div class="col-md-12">
                    <el-collapse value="1">
                        <el-collapse-item title="Тип" name="1">
                            <el-checkbox-group v-model=filter.type>
                                <el-checkbox-button label="Отель"></el-checkbox-button>
                                <el-checkbox-button label="Апартаменты"></el-checkbox-button>
                            </el-checkbox-group>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </div>
            <div class="col-md-12">
                <el-collapse value="1">
                    <el-collapse-item title="Цена" name="1">
                        <vue-slider
                                class="mt-5"
                                v-model="filter.price"
                                :tooltip="'always'"
                                :min="filter.minRange"
                                :max="filter.maxRange"
                        />
                        <p>{{filter.price.join(' - ')}} руб</p>
                    </el-collapse-item>
                </el-collapse>
                <div class="mt-5 refresh-link" @click="resetFilter">
                    <i class="fa fa-refresh"></i><small> Сбросить все фильтры</small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'HotelFilter',
        props: {
            filter: Object,
            spr: Object
        },
        methods: {
            resetFilter() {
                this.$emit('resetFilter')
            }
        }
    }
</script>

<style lang="css">
    .el-checkbox {
        display: block !important;
        float: left;
        margin-left: -20px;
    }

    .el-collapse-item__wrap {
        text-align: left !important;
        padding-left: 40px;
        min-height: 100px;
        height: max-content;
    }

    .menu {
        z-index: 99999999;
    }

    .el-collapse-item {
        position: relative;
    }
    .vue-slider-process, .vue-slider-process:hover {
        background-color: red;
    }
    .refresh-link {
        cursor:pointer;
    }
</style>

